.admin_dashboard {
  display: flex;
  gap: 2.3rem;

  .admin_left_container {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 2.7rem;

    .admin_top_container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
      gap: 1rem;
    }

    .admin_middle_container {
      display: flex;
      gap: 0.8rem;
    }
  }

  .admin_right_container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* MOBILE DESIGN */
@media (max-width: 600px) {
  .admin_dashboard {
    flex-direction: column;

    .admin_left_container {
      .admin_middle_container {
        flex-direction: column;
      }
    }
  }
}
