.dashboard {
  margin: 0.5rem 3rem;

 

  .user_profile {
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    > h2 {
      font-size: 1.25rem;
      margin-bottom: 0.8rem;
    }

    > p {
      font-size: 0.9rem;
      font-style: normal;
      font-weight: 300;
    }
  }
}


/* MOBILE DESIGN */
@media (max-width: 600px) {
  .dashboard {
    margin-inline: 1rem;
  }
}
