.login_header {
  /* display: flex; */
}

.form_section {
  width: 85%;
  margin-inline: auto;
  margin-top: 2rem;

  .form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .signup_link {
    margin-top: 2rem;
  }

  .link {
    color: var(--clr-lemon);
    text-decoration: underline;
  }
}

/* MOBILE DESIGN */
@media (max-width: 600px) {
  .form_section .form {
    gap: 0.6rem;
    /* height: 25rem; */
  }
}
