.progress_bar {
  width: 5.5rem;
  height: 5.5rem;
  position: relative;

  .percentage_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    > h4 {
      font-weight: 400;
      font-size: 1.2rem;
      margin-bottom: 0.2rem;
    }

    > h6 {
      font-weight: 400;
      color: var(--clr-gray);
    }
  }
}
