.student_dashboard {
  display: grid;
  grid-template-columns: 2.2fr 1fr;
  width: 100%;
  column-gap: 2rem;

  .tasks_section {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .tasks {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 1.5rem;
    }
  }
}

/* MOBILE DESIGN */
@media (max-width: 600px) {
  .student_dashboard {
    grid-template-columns: 1fr;
  }
}
