.assess_card {
  max-width: 25rem;
  width: 100%;
  border-radius: 0.5rem;
  border: 2px solid var(--clr-lemon);
  padding: 1rem 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  position: relative;
  background-color: var(--clr-white);

  > p {
    font-style: italic;
    font-size: 0.8rem;
    opacity: 60%;
  }

  > .details {
    margin-block: 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    p {
      font-weight: 600;
      display: inline-flex;
      justify-content: space-between;
    }
  }

  .badge {
    /* max-width: 10rem; */
    position: absolute;
    right: -10%;

    padding: 0.5rem 1rem;
    transform: rotate(35deg);

    > h4 {
      font-size: 1.3rem;
      text-transform: uppercase;
      letter-spacing: 0.05rem;
      white-space: nowrap;
    }

    &.expired {
      background: var(--clr-pink);
    }
    &.soon {
      background: var(--clr-yellow);
    }
  }

  &.not-valid {
    opacity: 60%;
    cursor: not-allowed;
  }
}
