.header-container {
  max-width: 78rem;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar {
  min-height: 60px;
  padding: 30px 0px;
  background-color: var(--clr-white);
  position: relative;
}

.logo {
  height: auto;
  width: 180px;
}

.menu-icon {
  display: none;
}

.nav-elements {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-elements ul {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

.nav-elements ul a {
  color: var(--clr-black);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.nav-elements ul a.active {
  color: #574c4c;
  font-weight: 500;
  position: relative;
}

.nav-elements ul a.active::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #574c4c;
}

@media (max-width: 768px) {
  .nav-elements ul li:not(:last-child) {
    margin-right: 30px;
  }
}

@media (max-width: 600px) {
  .header-container {
    /* padding: 0 14px; */
  }
  .menu-icon {
    display: block;
    cursor: pointer;
  }
  .menu-btn {
    display: none;
  }

  .nav-elements {
    position: absolute;
    right: 0;
    top: 80px;
    background-color: #8ce200;
    width: 0px;
    height: calc(100vh - 80px);
    transition: all 0.3s ease-in;
    overflow: hidden;
    align-items: start;
    z-index: 999;
  }

  .nav-elements.active {
    width: 270px;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
  }

  .nav-elements ul li {
    margin-right: unset;
    margin-top: 22px;
  }
}

/* button */

.btn {
  align-items: center;
  border: none;
  border-radius: 8px;
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 10px;
  position: relative;
  width: 140px;
  cursor: pointer;
}

.btn .btn-text {
  color: #481717;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 600px) {
  .btn {
    padding: 10px;
    width: 100px;
  }

  .nav-elements > * {
    padding: 30px;
  }
}

.btn-default {
  background-color: var(--clr-lemon);
}

.btn .btn-default::hover {
  background-color: var(--clr-lemon-hover);
}

.btn.btn-default .btn-text {
  color: #481717;
}

.btn::hover .btn-text {
  color: #254417;
}

/* end button */

/* custom shortcut css */
.d-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.flex-col{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* end custom shortcut css */

/* Footer */

.top-footer {
  background-color: var(--clr-lemon);
  width: 100%;
  padding: 80px 20px 0px;
}

.top-footer .div-grid {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  justify-items: center;
  align-items: center;

}

.top-footer .div-grid > * {
  padding: 1rem;
}

.top-footer .list {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.top-footer .list-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.top-footer .item {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 8px;
}


.footer-social {
  margin: 30px 0px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.top-footer .footer-logo {
  height: auto;
  width: 194px;
}



.bottom-footer {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: var(--clr-lemon);
  padding: 30px 30px ;
}






@media (max-width: 600px) {
  .top-footer {
    padding: 20px 10px;
  }
  .top-footer .div-grid {
    display: block;
    width: 100%;
  }

  .top-footer .list,
  .top-footer .list-2,
  .top-footer .item {
    align-items: center;
  }

  .footer-social {
   align-items: center;
  }
  
  .top-footer .footer-logo {
    height: auto;
    width: 250px;
  }
}

/* end footer */
