:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --clr-lemon: #8ce200;
  --clr-lemon-hover: #a7cf67;
  --clr-teal-green: #30ba99;
  --clr-pink: #ff8dbd;
  --clr-yellow: #fbd718;
  --clr-gray: #808080;
  --clr-white: #ffffff;
  --clr-black: #000;
  --clr-dark-gray: #d9d9d9;
  --clr-red: #ff0000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

body {
  font-family: "Inter-Regular", Helvetica;
}
